@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-gradient-to-br from-slate-50 to-slate-100 text-slate-800;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
